.header {
      background-color: white;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid white;

    }

    .navigator {
      text-align: right;
      justify-content: right;
      gap: 10px;
    }

    .nav a {
      padding-left: 20px;
      padding-right: 20px;
      text-decoration: none;
      color: black;
    }

    .flex-container {
      display: flex;
      background-color: black;
    }

    .nav {
      border: 30px;
      height: 100px;
      flex: 1;
      padding: 15px;
    }

    .site {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;
      padding: 25px;
      background-color: white;
      box-sizing: border-box;
    }

    .icons {
      display: flex;
      gap: 20px;
      align-items: center;
    }

    .icon {
      width: 30px;
      height: auto;
      cursor: pointer;
    }

    .bar {
      background-color: black;
      padding: 20px;
      display: flex;
      justify-content: center;
    }

    .category {
      display: flex;
      max-width: 900px;
      gap: 20px;
      justify-content: space-between;
      color: white;
      font-weight: 600;
      align-items: center;
      letter-spacing: 0.5px;
    }

    .logo {
      color: #e43333;
      font-size: 32px;
      line-height: 1.2;
    }

    .welcome {
      font-size: 36px;
      margin-bottom: 10px;
      text-align: center;
    }

    .welcome p {
      color: #e86e8a;
      margin-bottom: 30px;
    }

    .img {
      width: 350px;
      border-radius: 6px;
    }

    .container {
      display: flex;
      max-width: 500px;
      gap: 20px;
    }

    .text {
      font-size: 20px;
      text-align: left;
    }




body {
    font-family: Arial, sans-serif;
    background: white;
    padding: 30px;
    text-align: center;
    color: #ff5757;
  }
  .text2 {
    color: #ff5757;
    font-weight: bold;
    justify-content: center;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .item-1 {
    text-align: center;
    width: 250px;
  }
  .img {
    width: 100px;
    height: 100px;
    border-radius: 3px;
  }
  .price-tag {
    color: #ff5757;
    font-weight: bold;
  }
  .arrow {
    font-size: 70px;
    font-weight: bold;
  }
 



.text-bg-danger {
    background-color: rgb(253 35 98);
    color: white;
    text-align: center;
    height: 25px;
}

.category2 {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    }

.text3 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}

.section img {
    width: 100%;
    height: 500px;
    display: block
}

.section {
    color: white;
    position: relative;
    text-align: center;
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: black;
}

.box {
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    max-width: 150px;
}

.details p {
    margin: 5px;
    font-size: 15px;
    color: black;
}

.click {
    text-align: center;
    font-size: smaller;
    margin-top: 5px;
    
}

