.navigator {
      text-align: right;
      justify-content: right;
      gap: 10px;
    }

.text-bg-danger {
    background-color: rgb(253 35 98);
    color: white;
    text-align: center;
    height: 25px;
}

.category {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    }

.text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
}

.section img {
    width: 100%;
    height: 500px;
    display: block
}

.section {
    color: white;
    position: relative;
    text-align: center;
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    color: black;
}

.box {
    text-align: center;
    border: 1px solid black;
    padding: 15px;
    max-width: 150px;
}

.details p {
    margin: 5px;
    font-size: 15px;
    color: black;
}

.click {
    text-align: center;
    font-size: smaller;
    margin-top: 5px;
    
}
