 body {
    font-family: Arial, sans-serif;
    background: white;
    padding: 30px;
    text-align: center;
    color: #ff5757;
  }
  .text {
    color: #ff5757;
    font-weight: bold;
    justify-content: center;
  }
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .item-1 {
    text-align: center;
    width: 250px;
  }
  .img {
    width: 100px;
    height: 100px;
    border-radius: 3px;
  }
  .price-tag {
    color: #ff5757;
    font-weight: bold;
  }
  .arrow {
    font-size: 70px;
    font-weight: bold;
  }
    .navigator {
      text-align: center;
    }